<%= render partial:'header'%>
    <h1> Enter your text here </h1>
    <%= form_with model:@bionics do  |f|%>
        <%= f.text_area :text_initial, class: "form-control", rows: "10", cols: "50" %>
        <%= f.submit "Edit Article", class: "btn btn-primary btn-lg mt-3" %>
    <% end %>
<%= render partial:'footer'%>